// Colors
$green_light_color: rgba(186, 218, 85, 1); // In HEX #bada55
$green_logo_color: #72c201;

$gray_light_color: rgba(36, 36, 36, 0.25);
$gray_middle_color: rgba(36, 36, 36, 0.5);
$gray_hard_color: rgba(36, 36, 36, 1);

// Colors text
$gray_light_text_color: #c8c8c8;

// Fonts
$poiret-font: 'Poiret One', cursive;
$muli-font: 'Muli', sans-serif;

// Default color
$white: #fff;
$black: #000;

// Media request
$large: 1199px;
$middle: 991px;
$small: 767px;
$small-xs: 500px;